apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-ksa
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo
  template:
    metadata:
      labels:
        app: demo
    spec:
      containers:
      - name: demo
        image: us-central1-docker.pkg.dev/qwiklabs-gcp-01-bef5a431ab6b/demo/demo:latest
        ports:
        - containerPort: 8000
---

apiVersion: v1
kind: Service
metadata:
  name: demo-service
spec:
  type: LoadBalancer
  selector:
    app: demo
  ports:
    - port: 80 
      targetPort: 8000




